@charset "UTF-8";

#main .section1 {height: 1000px; background: #a6d0d0; font-size: 100px; padding-top: 180px;}
#main .section2 {height: 1000px; background: #91b938; font-size: 100px;}
#main .section3 {height: 1000px; background: #a2a2a2; font-size: 100px;}









